apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: "default"
spec:
  amiFamily: AL2
  amiSelectorTerms:
    - alias: al2@latest  # Use the latest EKS-optimized AL2 AMI
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.nodes_setup.cluster_name }}     # Replace with your actual tag value
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.nodes_setup.cluster_name }}     # Replace with your actual tag value
  # Optional: specify the IAM role or instance profile
  role: {{ .Values.nodes_setup.node_iam_role_name }}  # Replace with your IAM role name
  # Optional: pass kubelet config
  tags: 
    karpenter.sh/discovery: {{ .Values.nodes_setup.cluster_name }}
    Owner: {{ .Values.nodes_setup.email }}
    Schedule: running
  kubelet:
    podsPerCore: 1  # in real project should be 2
    maxPods: 20
    systemReserved:
      cpu: 100m
      memory: 100Mi
      ephemeral-storage: 1Gi
    kubeReserved:
      cpu: 200m
      memory: 100Mi
      ephemeral-storage: 3Gi
#   amiFamily: AmazonLinux2
#   subnetSelectorTerms: 
#     - tags:
#         karpenter.sh/discovery: aknys
#   securityGroupSelectorTerms:
#     - tags:
#         karpenter.sh/discovery: aknys
# #  spotPricing:
# #    maxPrice: 0.08
