apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: "default"
spec:
  amiFamily: AmazonLinux2
  subnetSelector:  # Keep this
    karpenter.sh/discovery: aknys
  securityGroupSelectorTerms:  # Keep this
    - tags:
        karpenter.sh/discovery: aknys
#  spotPricing:
#    maxPrice: 0.08
