installCRDs: false
nodepool:
  name: default
  nodeClassRef:
    group: karpenter.k8s.aws
    kind: EC2NodeClass
    name: default
  requirements:
    - key: "karpenter.k8s.aws/instance-family"
      operator: In
      values: ["t3", "m5", "c5", "r5", "t4g", "m6g", "c6g"]
    - key: "karpenter.k8s.aws/instance-cpu"
      operator: In
      values: ["2", "4", "8"]
    - key: "karpenter.k8s.aws/instance-size"
      operator: In
      values: ["nano", "micro", "medium", "large"]
    - key: "karpenter.k8s.aws/instance-hypervisor"
      operator: In
      values: ["nitro"]
    - key: "topology.kubernetes.io/zone"
      operator: In
      values: ["us-west-2a", "us-west-2b"]
    - key: "kubernetes.io/arch"
      operator: In
      values: ["arm64"] #"amd64"
    - key: "karpenter.sh/capacity-type"
      operator: In
      values: ["spot", "on-demand"]
  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 1m
    budgets:
      - nodes: "10%"
      - schedule: "0 9 * * 1-5"
        duration: 8h
        nodes: "0"
  limits:
    cpu: "10"
    memory: "10Gi"
  weight: 10
#clusterName: "aknys"  # Must match EKS cluster name
#nodes_setup:
#  node_iam_role_name: "karpenter-aknys-20250422131533562600000019"
